:host {
  width: 100%;
}

header {
  background: skyblue;
  color: #fff;
  justify-content: center;
  display: flex;
  color: white;
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid white;
}

h1 {
  font-size: x-large;
}

span {
  font-weight: normal;
}
