<app-recipe-navigation></app-recipe-navigation>
<h3>{{ recipe?.strMeal }}</h3>
<section>
  <article id="ingredients">
    <h4>Ingredients:</h4>
    <ul>
      <li *ngFor="let ingredient of ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </article>

  <article id="instructions">
    <div style="background-image: url('{{ recipe?.strMealThumb }}')"></div>
    <section>
      <p>
        {{ recipe?.strInstructions || "" | splitOnPeriod }}
      </p>
    </section>

    <br />
    <app-error></app-error>
  </article>
</section>
