.browse-result {
  width: 100%;
  justify-content: space-between;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

li {
  min-width: 250px;
  padding: 10px;
  background-color: #d7eff9;
  margin: 16px 16px;
}

li a {
  color: #333;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}
