.browse-result {
  list-style: none;
  display: flex;
  margin: 16px 16px;
  flex-flow: row wrap;
  gap: 16px;
}

li {
  padding: 8px 0 8px 8px;
  background-color: #d7eff9;
  margin: 8px 0 0;
  width: calc(33.333% - 24px);
}

@media only screen and (max-width: 600px) {
  li {
    width: 100%;
  }
}

li a {
  color: #333;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}
